<div class="charInfo">
    <img src="{{Hero.img}}" alt="{{Hero.name}} portrait">
    <div>
        <h3>{{Hero.name}}</h3>
        <p>HP: <progress id="heroHp" value="{{Hero.hp}}" max="{{Hero.hp}}" class="nes-progress is-success"></p>
        <p>XP: <progress id="heroXp" value="2" max="100" class="nes-progress is-primary"></p>
    </div>
</div>