<div class="charInfo">
    <img src="{{img}}" alt="{{name}} portrait">
    <div>
        <h3>{{name}}</h3>
        <p>HP: <progress value="{{hp}}" max="{{hp}}"></p>
        <p>XP: <progress value="{{xp}}" max="2000"></p>
    </div>
</div>